body{
    font-family: 'Space Mono', monospace;
    background-color: rgb(197, 228, 231);
}
.calculator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    padding:15px;
    width: 40%;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    font-weight: 550;
    
   
   
}
.calculator > div {
   margin: 10px;
   padding: 10px;
  
   
   
}

#SelectPercentage{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
width: 200px;
margin-left: 0px;

}
#SelectPercentage>li
{
    width: 50px;
    text-decoration: none;
}
#userinputtab{
    width: 250px;
}
#heading{
    font-weight: 700;
    width: 60px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 40px;
}
#answer-bar{
    display: flex;
}
input{
    background-color: hsl(185, 41%, 84%);
    border:none;
    border-radius: 4px;
    text-align: right;
    line-height: 25px;
}
#custom-input{
    width:60px;
    margin: 5px;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 10px;
}
#right-box{
    background-color: hsl(183, 100%, 15%);
    width: 250px;
    border-radius: 10px;
}

#Reset-button{
    background-color: hsl(172, 67%, 45%);
    margin: auto;
    line-height: 25px;
    width:230px;
}
.percentage-button{
    color: white;
    width: 60px;
    background-color: hsl(183, 100%, 15%);
}
.percentage-button:hover{
    background-color: hsl(172, 67%, 45%);
}
#custom-button-child{
    width: 60px;
    background-color: hsl(189, 41%, 97%)
}
.list-percentage{
    line-height: 25px;
    width: 70px;
    margin: 5px;
    margin-left: 0px;
}
button{
    text-decoration: none;
    border:none;
    outline: none;
    border-radius: 3px;
}
.right-answers{
    margin-left:30px;
    margin-bottom: 20px;
    color: hsl(172, 67%, 45%);
    font-size: 30px;
}
