body{
    font-family: 'Space Mono', monospace;
    background-color: rgb(197, 228, 231);
}
.calculator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    padding:50px;
    width: 40%;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    
   
   
}
.calculator > div {
   margin: 10px;
   padding: 10px;
  
   
   
}

#SelectPercentage{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;


}
#SelectPercentage>li
{
    width: 50px;
    text-decoration: none;
}
#userinputtab{
    width: 200px;
}
#heading{
    font-weight: 700;
    width: 60px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 40px;
}
#answer-bar{
    display: flex;
}
input{
    background-color: hsl(189, 41%, 97%);
    border-radius: 4px;
    text-align: right;
}